.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mainImageWrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1.2;
    /* 세로로 더 길게 수정 */
    border-radius: 16px;
    overflow: hidden;
}

.thumbnailList {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    /* 이미지가 많아지면 옆으로 스크롤 가능 */
}

.thumbnailWrapper {
    position: relative;
    width: 80px;
    /* 작게 설정 */
    height: 80px;
    flex-shrink: 0;
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid transparent;
}

/* 선택된 이미지 강조 효과 */
.thumbnailWrapper.active {
    border-color: #6d4c41;
    /* 카페 느낌 나는 갈색이나 포인트 컬러 */
}

.mainImage {
    object-fit: cover;
}